{% extends 'base.html' %}

{% block content %}
<br>
<br>
<table class="table table-success table-striped">
    <thead>
      <tr>
        <th scope="col">Project Logo</th>
        <th scope="col">Thematic Area</th>

        
      </tr>
    </thead>
    {% for all in all_grants %}
    <tbody>
      <tr>
         
    
        <td>{{all.thematic_area}}</td>
        <td>{{all.project_name}}</td>
       
        <td><a href="{% url 'update-grant' all.id %}"><button class=" btn btn-primary">Add Logo and Basic info</button></a></td>

      </tr>
    </tbody>
    {% endfor %}
  </table>
{% endblock %}
