{% extends "grants/base.html" %}
{% load widget_tweaks %}

{% block title %}update Grants{% endblock %}

{% block main %}
<div class="row">
    <div class="col-lg-8 col-lg-offset-2">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Update a Grant</h3>
            </div>
                
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
              
                
                <div class="panel-body">
                   
                    
                    <div class="row">                      
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label for="question">Upload Logo</label>
                                {% render_field forms.log class="form-control" rows="3" %}
                            </div>
                        </div>
                    </div>
                    <div class="row">                      
                        <div class="col-lg-12">
                            <label for="question">Enter basic information about the project</label>
                            <div class="form-group">
                               
                                {% render_field forms.info class="form-control" rows="4" %}
                            </div>
                        </div>
                    </div>               
                    <br>  
                    <div class="row">
                        <hr />
                        <div class="col-lg-4">
                            <button type="submit" class="btn btn-info">Submit</button>
                        </div>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>
{% endblock %}
